$main-color: #F1FAEE;
$text-color: #1D3557;
$alt-text-color: #F1FAEE;
$hover-text-color: #A8DADC;
$accent-color: #c51625;

@font-face {
    font-family: Dosis;
    src: url(./assets/fonts/Dosis-VariableFont_wght.woff2);
    font-weight: 100 900;
    font-display: swap;
}
html{
    width: 100vw;
    overflow-x: hidden;
}
.WebsiteContainer{
    background-image: url("./assets/images/Background.webp"); background-size: cover; background-repeat: repeat; background-position: center; width: 100vw; height: auto; font-family: Dosis;color: $text-color; line-height: 2rem;
    
    // Media pentru background-position la device mare !! 
}
    .Wrapper{
        padding: 1rem clamp(20px,7vw,180px);
        display: relative;
        
        margin: 0 auto;
        
    }
        .Navbar{
            padding: clamp(0px,3vw,2rem) 0; display: flex; justify-content: space-between; align-items: center;
        }
            .Brand{flex: 1;}
                .BrandLink{display: inline-block;}
                .BrandImage{
                    
                    @media screen and (min-width: 480px){
                        width: clamp(200px,30vw,312px);
                        height: auto;
                    }
                    @media screen and (min-width: 768px){
                        display: flex;
                      
                    }
                }
            .Hamburger{ 
                &:hover{cursor: pointer;}
                img {width: clamp(30px,10vw,60px); height: auto;}
                    @media screen and (min-width: 768px){ display: none;

                    }
            }
          
            .NavigationDown{
                display: none;
                margin-top: 2rem;
                margin-bottom: -2rem;
                
            }
            .NavListDown{
                
                border-radius: 1rem;
                display: none; flex-direction: column;
                align-items: center;
                
            }
            .NavListItemDown{
                background-color: $text-color;
                border-radius: 1rem;
                padding-top: 1rem;
                width: 100%;
                text-align: center;
                padding-bottom: 1rem;
                margin-top: 0.25rem;
                border-bottom: 2px solid $alt-text-color;
                border-top: 2px solid $alt-text-color;
                    
            }
            .NavLinkDown{
                font-size: clamp(2rem,4vw,4.5rem); font-weight: 500; color: $alt-text-color;
                
                
            }
            
            .NavLinkDown:hover{font-weight: 800;}
            .Navigation {
                
                display: none;
                
                
                    @media screen and (min-width: 768px){
                        display: flex;
                        flex: 1.5;
                        font-size: clamp(1rem,4vw,3rem); 
                        font-weight: 500;
                    }
            }
                .NavList{ 
                    flex: 1;
                    display: flex;
                    flex-direction: row; justify-content: space-between; }
                    .NavListItem{}
                        .NavLink{ color: $text-color;  
                            &:hover{color: $accent-color;}}
            .LineBreak{
                position: absolute; left: 0; right: 0; border: 1px solid $text-color; margin-top: 1rem;
            }
            .MainSection{ padding-top: 3.5rem; display: flex; flex-direction: row; 
                @media screen and (min-width: 768px){
                    padding-bottom: 5rem;  
                    
                } }
                .LeftMainSection{ display: flex; flex-direction: column; width: 100%;
                    @media screen and (min-width: 768px){
                        flex:1;
                          
                        
                    } }
                    .MainHeading{ font-size: clamp(2rem,4vw,4.5rem); font-weight: bold; line-height: clamp(2.25rem,5vw,5rem); }
                    .MainBenefits{padding-top: 1.5rem;  font-size: clamp(2rem,4vw,4.5rem); font-weight: 500; line-height: clamp(2.5rem,5vw,5.5rem);
                        @media screen and (min-width: 768px){
                            padding: 0;  
                            
                        }
                    }
                        strong{ color: $accent-color; }
                    .CTAButton{ margin-top: 1.25rem; align-self: center; background-color: $accent-color; border: none; padding: clamp(0.5rem,2vw,2rem) clamp(1.75rem,20vw,4rem); border-radius: 1.125rem; 
                        &:hover{background-color: $text-color;}
                        @media screen and (min-width: 768px){
                            margin: 0; 
                            
                        }
                    }
                        .CTAText{ color: white; font-size: clamp(1.125rem,3vw,3rem); font-weight: 600; 
                            }
                .RightMainSection{display: none;
                    @media screen and (min-width: 768px){
                        display: flex; flex-direction: column; 
                        justify-content: space-between;  
                        flex: 1;
                    } }
                    .SaveImage{display: none;
                        @media screen and (min-width: 768px){
                            display: block; width: clamp(100px,45vw,831px); padding-top: 3rem;
                            height: auto;
                        }
                    }
                    .AvailableImage{display: none;
                        @media screen and (min-width: 768px){
                            display: block; width: clamp(100px,35vw,497px); padding-top: 3rem;
                            height: auto;
                        }}
                    .SafeImage{display: none;
                        @media screen and (min-width: 768px){
                            display: block; width: clamp(100px,40vw,647px); padding-top: 3rem;
                            height: auto;
                        }}
                    .TransactionImage{display: none;
                        @media screen and (min-width: 768px){
                            display: block; width: clamp(100px,35vw,492px); padding-top: 3rem;
                            height: auto;
                        }}
            .LeftSection{display: flex; flex-direction: column; 
                @media screen and (min-width: 768px){
                    flex:1; 
            
                } 
                img{display:none;
                    @media screen and (min-width: 768px){
                        display: block;
                
                    } }
             }
            
            .RightSection{
                display: flex; flex-direction: column; 
                @media screen and (min-width: 768px){
                    flex:1; 
                    padding-right: 2rem;
                } 
                img{display:none;
                    @media screen and (min-width: 768px){
                        display: block;
                
                    } }}
                .SectionHeading{ font-size: clamp(2rem,4vw,4.5rem); font-weight: 700; line-height: clamp(2.25rem,5vw,5rem); }
                .SectionText{ padding-top: 1.5rem; font-size: clamp(2rem,4vw,3rem); line-height: clamp(2.25rem,5vw,4rem);font-weight: 500; 
                    @media screen and (min-width: 768px){
                        padding-bottom: 3rem;
                    } }
                    .OSLink{color: $accent-color;
                        &:hover{color: $text-color;}
                    }
            .Acclamations{padding-top: 4rem; 
                @media screen and (min-width: 768px){
                    margin-bottom: clamp(0px,10vw,6rem);
                } 
                }
                .AcclamationGrid{
                    
                    @media screen and (min-width: 1750px){
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        row-gap: 3rem;
                        
                        padding-top: 2rem;
                        padding-bottom: 3rem;
                    } 
                }
                    .AcclamationItem{display: flex; flex-direction: column; padding-top: clamp(1rem,5vw,4rem); 
                        @media screen and (min-width: 1750px){
                            padding-right:5rem;
                        } }
                    .SectionAuthor{ padding-top: 0.25rem; font-size: clamp(1.25rem,4vw,3rem); font-weight: 600; align-self: flex-end;}
            .Contributors{ padding-top: 3rem; padding-bottom: clamp(0rem,4vw,10rem);}
                .ContributorGrid{padding-top:3rem;  display: grid;grid-template: 1fr; place-items: center; row-gap: 2rem;
                    
                    @media screen and (min-width: 768px){
                        grid-template-columns: 1fr 1fr;
                        row-gap: 6rem;
                        column-gap: 6rem;
                        grid-row: auto auto;
                        padding-top: clamp(3rem,8vw,12rem);
                        padding-bottom: clamp(0rem,5vw,6rem);

                    } }
                    .ContributorItem{ }
                        .ContributorImage{}
                        .MicroImage{ width: 100%;height: auto;
                            @media screen and (min-width: 480px){
                                width: clamp(261px,40vw,716px); 
                            } 
                        }
                        .StackImage{width: 100%; height: auto;
                            @media screen and (min-width: 480px){
                                width: clamp(273px,40vw,885px); 
                            } 
                        }
                        .StripeImage{width: 100%; height: auto;
                            @media screen and (min-width: 480px){
                                width: clamp(215px,30vw,402px); 
                            } 
                        }
                        .GitImage{width: 100%; height: auto;
                        @media screen and (min-width: 480px){
                            width: clamp(95px,20vw,400px); 
                        } }
            .FooterGrid{display: grid; grid-template-columns: 1fr; padding-top: clamp(0rem,4vw,6rem);
                column-gap: 2rem;
                @media screen and (min-width: 480px){
                    grid-template-columns: 1fr 1fr;
                } 
                @media screen and (min-width: 1280px){
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                } }
                .FooterTitle{ padding-top: 3rem; font-size: clamp(1.75rem,5vw,3rem); font-weight: 700; text-align: center; 
                    @media screen and (min-width: 768px){
                        text-align: left; 
                    } }
                .FooterItem{ font-size: 1.25rem; padding-top: clamp(1rem,5vw,3rem); font-weight: 500; text-align: center;
                    @media screen and (min-width: 768px){
                        text-align: left; 
                    } }
                .Copyright{ width: 100%;font-size: clamp(1.25rem,5vw,2.25rem); margin-bottom: 8rem; margin-top: 4rem; font-weight: 500; text-align: center;}
                .FooterLink{ text-decoration: none; color: $text-color; font-size: clamp(1rem,5vw,2.25rem);
                    &:hover {color: $accent-color;}
                }