@font-face {
  font-family: Dosis;
  src: url(./assets/fonts/Dosis-VariableFont_wght.ttf);
  font-weight: 100 900;
}

:root {
  font-size: 12px;
}

body {
  overflow-x: hidden;
}

.WebsiteContainer {
  background-image: url("./assets/images/Background.webp");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  width: 100vw;
  height: auto;
  font-family: Dosis;
  color: #1D3557;
  line-height: 2rem;
}

.Wrapper {
  padding: 1rem clamp(20px, 7vw, 180px);
  display: relative;
  margin: 0 auto;
}

.Navbar {
  padding: clamp(0px, 3vw, 2rem) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Brand {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 480px) {
  .BrandImage {
    width: clamp(200px, 30vw, 212px);
  }
}

@media screen and (min-width: 768px) {
  .BrandImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.Hamburger img {
  width: clamp(30px, 10vw, 60px);
}

@media screen and (min-width: 768px) {
  .Hamburger {
    display: none;
  }
}

.NavigationDown {
  margin-top: 2rem;
  margin-bottom: -2rem;
}

.NavListDown {
  background-color: #1D3557;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavListItemDown {
  padding-top: 1rem;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #F1FAEE;
}

.NavLinkDown {
  font-size: clamp(2rem, 4vw, 4.5rem);
  font-weight: 600;
  color: #F1FAEE;
}

.Navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .Navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    font-size: clamp(1rem, 4vw, 2.5rem);
    font-weight: 500;
  }
}

.NavList {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.NavLink {
  color: #1D3557;
}

.NavLink:hover {
  color: #c51625;
}

.LineBreak {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #1D3557;
  margin-top: 1rem;
}

.MainSection {
  padding-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 768px) {
  .MainSection {
    padding-bottom: 5rem;
  }
}

.LeftMainSection {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .LeftMainSection {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.MainHeading {
  font-size: clamp(2rem, 4vw, 4.5rem);
  font-weight: bold;
  line-height: clamp(2.25rem, 5vw, 5rem);
}

.MainBenefits {
  padding-top: 1.5rem;
  font-size: clamp(2rem, 4vw, 4.5rem);
  font-weight: 500;
  line-height: clamp(2.5rem, 5vw, 5.5rem);
}

@media screen and (min-width: 768px) {
  .MainBenefits {
    padding: 0;
  }
}

strong {
  color: #c51625;
}

.CTAButton {
  margin-top: 1.25rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #c51625;
  border: none;
  padding: clamp(0.5rem, 2vw, 2rem) clamp(1.75rem, 20vw, 4rem);
  border-radius: 1.125rem;
}

.CTAButton:hover {
  background-color: #1D3557;
}

@media screen and (min-width: 768px) {
  .CTAButton {
    margin: 0;
  }
}

.CTAText {
  color: white;
  font-size: clamp(1.125rem, 3vw, 3rem);
  font-weight: 600;
}

.RightMainSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .RightMainSection {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.SaveImage {
  display: none;
}

@media screen and (min-width: 768px) {
  .SaveImage {
    display: block;
    width: clamp(100px, 45vw, 631px);
    padding-top: 3rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.AvailableImage {
  display: none;
}

@media screen and (min-width: 768px) {
  .AvailableImage {
    display: block;
    width: clamp(100px, 35vw, 397px);
    padding-top: 3rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.SafeImage {
  display: none;
}

@media screen and (min-width: 768px) {
  .SafeImage {
    display: block;
    width: clamp(100px, 40vw, 547px);
    padding-top: 3rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.TransactionImage {
  display: none;
}

@media screen and (min-width: 768px) {
  .TransactionImage {
    display: block;
    width: clamp(100px, 35vw, 392px);
    padding-top: 3rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.LeftSection {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.RightAligned {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.RightSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .RightSection {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 2rem;
  }
}

.SectionHeading {
  font-size: clamp(2rem, 4vw, 4.5rem);
  font-weight: 700;
  line-height: clamp(2.25rem, 5vw, 5rem);
}

.SectionText {
  padding-top: 1.5rem;
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: clamp(2.25rem, 5vw, 4rem);
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .SectionText {
    padding-bottom: 3rem;
  }
}

.OSLink {
  color: #c51625;
}

.OSLink:hover {
  color: #1D3557;
}

.Acclamations {
  padding-top: 4rem;
}

@media screen and (min-width: 768px) {
  .Acclamations {
    margin-bottom: clamp(0px, 10vw, 6rem);
  }
}

@media screen and (min-width: 1750px) {
  .AcclamationGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}

.AcclamationItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: clamp(1rem, 5vw, 4rem);
}

@media screen and (min-width: 1750px) {
  .AcclamationItem {
    padding-right: 5rem;
  }
}

.SectionAuthor {
  padding-top: 0.25rem;
  font-size: clamp(1.25rem, 4vw, 3rem);
  font-weight: 600;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.Contributors {
  padding-top: 3rem;
  padding-bottom: clamp(0rem, 4vw, 10rem);
}

.ContributorGrid {
  padding-top: 3rem;
  display: -ms-grid;
  display: grid;
  grid-template: 1fr;
  place-items: center;
  row-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .ContributorGrid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
    grid-row: auto auto;
    padding-top: clamp(3rem, 8vw, 12rem);
    padding-bottom: clamp(0rem, 5vw, 6rem);
  }
}

.ContributorItem {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 480px) {
  .MicroImage {
    width: clamp(261px, 40vw, 516px);
  }
}

@media screen and (min-width: 480px) {
  .StackImage {
    width: clamp(273px, 40vw, 585px);
  }
}

@media screen and (min-width: 480px) {
  .StripeImage {
    width: clamp(215px, 30vw, 402px);
  }
}

@media screen and (min-width: 480px) {
  .GitImage {
    width: clamp(95px, 20vw, 200px);
  }
}

.FooterGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-top: clamp(0rem, 4vw, 6rem);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

@media screen and (min-width: 480px) {
  .FooterGrid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1280px) {
  .FooterGrid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.FooterTitle {
  padding-top: 3rem;
  font-size: clamp(1.75rem, 5vw, 3rem);
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .FooterTitle {
    text-align: left;
  }
}

.FooterItem {
  font-size: 1.25rem;
  padding-top: clamp(1rem, 5vw, 3rem);
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .FooterItem {
    text-align: left;
  }
}

.Copyright {
  width: 100%;
  font-size: clamp(1.25rem, 5vw, 2.25rem);
  margin-bottom: 8rem;
  margin-top: 4rem;
  font-weight: 500;
  text-align: center;
}

.FooterLink {
  text-decoration: none;
  color: #1D3557;
  font-size: clamp(1rem, 5vw, 2.25rem);
}

.FooterLink:hover {
  color: #c51625;
}
/*# sourceMappingURL=style.css.map */